<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="nbiot_test_client.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="nbiot_test_client.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <nbiot_test_client.Properties.Settings>
            <setting name="password" serializeAs="String">
                <value>maxlong</value>
            </setting>
            <setting name="clientId" serializeAs="String">
                <value>nobody</value>
            </setting>
        </nbiot_test_client.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <nbiot_test_client.Properties.Settings>
            <setting name="host" serializeAs="String">
                <value>embux-nbiot.dynns.com</value>
            </setting>
            <setting name="username" serializeAs="String">
                <value>demo</value>
            </setting>
        </nbiot_test_client.Properties.Settings>
    </applicationSettings>
</configuration>